.line {
    background-color: black;
    border-radius: 5px;
    padding: 10px;
}

.signup-btn {
    padding: 10px;
}

.reg-form {
    display: flex;
    justify-content: center;
    margin-left: 750px;
    margin-top: 50px;
    margin-bottom: 100px;
}