body {
    background-image: url(../../cool-background.png);
}

.container {
    background-color: #222;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-auto-columns: auto;
}

.using {
    font-size: 20px;
}

span {
    color: lightblue;
}

span:hover {
    color: red;
}

.person {
    color: white;
}


.user-body {
    color: white;
}