body {
    background: linear-gradient(90deg, rgba(204, 25, 25, 1) 25%, rgba(255, 255, 255, 1) 50%, rgba(23, 62, 235, 1) 75%);
    /* background: url(../../cool-background.png); */
    margin: 0;
}

@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700");

.container {
    background-color: #222;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-auto-columns: auto;
}

.candidate {
    color: whitesmoke;

}

.user-body {
    color: white;
}

span {
    color: lightblue;
}

span:hover {
    color: red;
}

.edit {

    font-size: 17px;
}