body {
    background: linear-gradient(90deg, rgba(204, 25, 25, 1) 25%, rgba(255, 255, 255, 1) 50%, rgba(23, 62, 235, 1) 75%);
    /* background: url(../../cool-background.png); */
    /* margin: 0; */
}

.img-fluid {
    padding: 5px;
    margin-top: 30px;
}

.post-box-title {
    color: white;
}

#post-box-label {
    color: white;
}

.post-content-box {
    width: 600px;
    height: 200px;
   
}
#create-post-card {
    flex-direction: column;

}

@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700");

.container {
    background-color: #222;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-auto-columns: auto;
    margin-bottom: 100px;
}
.feed {
    margin-bottom: 50px;
}

.candidate {
    color: whitesmoke;

}

.user-body {
    color: white;
}

span {
    color: lightblue;
}

span:hover {
    color: red;
}

.edit {
    margin-top: 12px;
    display: flex;
    font-size: 20px;
}